body {
	padding: 20px;

}
.nav-bar li {
	display: inline-block;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}
nav {
}

section article {
	float: center;
	display:inline-block;
	vertical-align: middle;
	clear:both;
}
.vert-bar li {
	text-decoration: none;
	text-align: left;
}