body {
	padding: 20px;
	background-image:
    linear-gradient(
      to right,
      #155230,
      #D6CC54 13%
    );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;

}
.nav-bar li {
	display: inline-block;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}
nav {
}

section article {
	float: center;
	display:inline-block;
	vertical-align: middle;
	clear:both;
}
.vert-bar li {
	text-decoration: none;
	text-align: left;
}