
html {
    height: 100%;
}

body {
  padding-top:60px;
  background-image:
    linear-gradient(
      to right,
      #0C6A3C,
      #FDE8A4 13%
    );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
}
input {
  text-align: center;
}

#pic-container {
  display: flex;

}

form {
  text-align: center;
  
}
.input-field-text {
  padding-right: 100px;
}
.mini-text{
  font-size: 10px;
}

img {
 margin: auto;
 padding-bottom: 20px;

}

@media only screen and (min-width: 900px) {

  .mini-text {
    font-size: 14px;
  }

  form {
    margin-top: 80px;
    font-size: 30px;
  }

  label {
    margin-right: 120px;
  }
  img {
     padding-top: 150px;
  }
  button {
    margin-top: 80px;
  }
}